extends layout

block content
  h1= title
  .container-fluid
    .row
      each w in ad
        .col-sm-2
          p WalletsType: #{w.wallets_type}
          p WalletsColor: #{w.wallets_color}
          p WalletsCapacity : #{w.wallets_capacity}
  br
  
